body{
    background-image: url(../images/background.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    width: fit-content;
    }
    
    .header {
        width: 100%;
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
    }
    
    .logo {
        width: 100%;
        height: 4rem;
    }
    
    .contenedor-galeria{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
        "number-1 number-2 number-3"
        "number-4 number-4 number-5"
        "number-4 number-4 number-6"
        "number-7 number-9 number-9"
        "number-8 number-9 number-9"
        "number-10 number-10 number-10"
    }
    
    .number-1{
        grid-area: number-1;
    }
    
    .number-2{
        grid-area: number-2;
    }
    
    .number-3{
        grid-area: number-3;
    }
    
    .number-4{
        grid-area: number-4;
    }
    
    .number-5{
        grid-area: number-5;
    }
    
    .number-6{
        grid-area: number-6;
    }
    
    .number-7{
        grid-area: number-7;
    }
    
    .number-8{
        grid-area: number-8;
    }
    
    .number-9{
        grid-area: number-9;
    }
    
    .number-10{
        grid-area: number-10;
    }
    

/*INICIO GALERIAS ALINEACION*/

   /*gral*/

   .margin-content{
    margin: 2% 3%;
   }

    .transform:hover{
        transform: translate(-20px,10px);
        cursor: pointer;
        transition: all 1s;
    }

    main section div div a:hover{
        color: red;
        text-decoration:double;
    }

    /*discos en particular*/

    main section div div{
        margin-top: 3%;
    }
    
    .margin-except{
        margin-top: 2.5%;
    }
    
    .scale:hover{
        transform: scale(1.02);
        cursor: pointer;
        transition: all 1s;
    }

    
/*FIN GALERIAS ALINEACION*/

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        margin: 20px 20px;
    }
    
    footer a img{
        width: 80px;
    }  
    
    footer a {
        margin: 0 5px;
    }
