//colors
$colorBeige:beige;
$colorPink:rgba(255,0,187);
$colorBrown:brown;

//size
$fontXXLarge: xx-large;
$fontXLarge: x-large;
$fontLarge: large;

//align
$textCenter: center;
$textLeft: left;


//efectos discografía y galería
.transform:hover{
    transform: translate(-20px,10px);
    transition: all 1s;
}

.scale:hover{
    transform: scale(1.02);
    transition: all 1s;
}

.flexDG{
    display: flex;
    flex-direction: row;
}

//buttons (Index)
.button{
    border: none;
    background: linear-gradient(to top, dodgerblue, beige);
    width: 100px;
    height: 30px;
    &:hover{
        background: linear-gradient(to top, beige, dodgerblue);
        transition: all 1s;
    }
}

//button (404)
.buttonDos{
    @extend .button;
    width: 200px;;
    height: 70px;
    border-radius: 20px;
}